# 2025 March Madness Kaggle Competition

- Goal of the Competition

- Submission Strategy

## 1. Import Python packages

In [1]:
import numpy as np
import pandas as pd

In [2]:
import os

files = os.listdir('/kaggle/input/march-machine-learning-mania-2025')
files.sort()

for file in files:
    print(file)

Cities.csv
Conferences.csv
MConferenceTourneyGames.csv
MGameCities.csv
MMasseyOrdinals.csv
MNCAATourneyCompactResults.csv
MNCAATourneyDetailedResults.csv
MNCAATourneySeedRoundSlots.csv
MNCAATourneySeeds.csv
MNCAATourneySlots.csv
MRegularSeasonCompactResults.csv
MRegularSeasonDetailedResults.csv
MSeasons.csv
MSecondaryTourneyCompactResults.csv
MSecondaryTourneyTeams.csv
MTeamCoaches.csv
MTeamConferences.csv
MTeamSpellings.csv
MTeams.csv
SampleSubmissionStage1.csv
SampleSubmissionStage2.csv
SeedBenchmarkStage1.csv
WConferenceTourneyGames.csv
WGameCities.csv
WNCAATourneyCompactResults.csv
WNCAATourneyDetailedResults.csv
WNCAATourneySeeds.csv
WNCAATourneySlots.csv
WRegularSeasonCompactResults.csv
WRegularSeasonDetailedResults.csv
WSeasons.csv
WSecondaryTourneyCompactResults.csv
WSecondaryTourneyTeams.csv
WTeamConferences.csv
WTeamSpellings.csv
WTeams.csv

In [3]:
for file in files:
    if file.startswith('M'):
        print(pd.read_csv(f'/kaggle/input/march-machine-learning-mania-2025/{file}').head(5))

   Season ConfAbbrev  DayNum  WTeamID  LTeamID
0    2001      a_sun     121     1194     1144
1    2001      a_sun     121     1416     1240
2    2001      a_sun     122     1209     1194
3    2001      a_sun     122     1359     1239
4    2001      a_sun     122     1391     1273
   Season  DayNum  WTeamID  LTeamID   CRType  CityID
0    2010       7     1143     1293  Regular    4027
1    2010       7     1314     1198  Regular    4061
2    2010       7     1326     1108  Regular    4080
3    2010       7     1393     1107  Regular    4340
4    2010       9     1143     1178  Regular    4027
   Season  RankingDayNum SystemName  TeamID  OrdinalRank
0    2003             35        SEL    1102          159
1    2003             35        SEL    1103          229
2    2003             35        SEL    1104           12
3    2003             35        SEL    1105          314
4    2003             35        SEL    1106          260
   Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
0    1985     136     1116      63     1234      54    N      0
1    1985     136     1120      59     1345      58    N      0
2    1985     136     1207      68     1250      43    N      0
3    1985     136     1229      58     1425      55    N      0
4    1985     136     1242      49     1325      38    N      0
   Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT  WFGM  WFGA  \
0    2003     134     1421      92     1411      84    N      1    32    69
1    2003     136     1112      80     1436      51    N      0    31    66
2    2003     136     1113      84     1272      71    N      0    31    59
3    2003     136     1141      79     1166      73    N      0    29    53
4    2003     136     1143      76     1301      74    N      1    27    64

   ...  LFGA3  LFTM  LFTA  LOR  LDR  LAst  LTO  LStl  LBlk  LPF
0  ...     31    14    31   17   28    16   15     5     0   22
1  ...     16     7     7    8   26    12   17    10     3   15
2  ...     28    14    21   20   22    11   12     2     5   18
3  ...     17    12    17   14   17    20   21     6     6   21
4  ...     21    15    20   10   26    16   14     5     8   19

[5 rows x 34 columns]
  Seed  GameRound GameSlot  EarlyDayNum  LateDayNum
0  W01          1     R1W1          136         137
1  W01          2     R2W1          138         139
2  W01          3     R3W1          143         144
3  W01          4     R4W1          145         146
4  W01          5     R5WX          152         152
   Season Seed  TeamID
0    1985  W01    1207
1    1985  W02    1210
2    1985  W03    1228
3    1985  W04    1260
4    1985  W05    1374
   Season  Slot StrongSeed WeakSeed
0    1985  R1W1        W01      W16
1    1985  R1W2        W02      W15
2    1985  R1W3        W03      W14
3    1985  R1W4        W04      W13
4    1985  R1W5        W05      W12
   Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
0    1985      20     1228      81     1328      64    N      0
1    1985      25     1106      77     1354      70    H      0
2    1985      25     1112      63     1223      56    H      0
3    1985      25     1165      70     1432      54    H      0
4    1985      25     1192      86     1447      74    H      0
   Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT  WFGM  WFGA  \
0    2003      10     1104      68     1328      62    N      0    27    58
1    2003      10     1272      70     1393      63    N      0    26    62
2    2003      11     1266      73     1437      61    N      0    24    58
3    2003      11     1296      56     1457      50    N      0    18    38
4    2003      11     1400      77     1208      71    N      0    30    61

   ...  LFGA3  LFTM  LFTA  LOR  LDR  LAst  LTO  LStl  LBlk  LPF
0  ...     10    16    22   10   22     8   18     9     2   20
1  ...     24     9    20   20   25     7   12     8     6   16
2  ...     26    14    23   31   22     9   12     2     5   23
3  ...     22     8    15   17   20     9   19     4     3   23
4  ...     16    17    27   21   15    12   10     7     1   14

[5 rows x 34 columns]
   Season     DayZero RegionW    RegionX    RegionY    RegionZ
0    1985  10/29/1984    East       West    Midwest  Southeast
1    1986  10/28/1985    East    Midwest  Southeast       West
2    1987  10/27/1986    East  Southeast    Midwest       West
3    1988  11/02/1987    East    Midwest  Southeast       West
4    1989  10/31/1988    East       West    Midwest  Southeast
   Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT  \
0    1985     136     1151      67     1155      65    H      0
1    1985     136     1153      77     1245      61    H      0
2    1985     136     1201      79     1365      76    H      0
3    1985     136     1231      79     1139      57    H      0
4    1985     136     1249      78     1222      71    H      0

  SecondaryTourney
0              NIT
1              NIT
2              NIT
3              NIT
4              NIT
   Season SecondaryTourney  TeamID
0    1985              NIT    1108
1    1985              NIT    1133
2    1985              NIT    1139
3    1985              NIT    1145
4    1985              NIT    1151
   Season  TeamID  FirstDayNum  LastDayNum       CoachName
0    1985    1102            0         154   reggie_minton
1    1985    1103            0         154     bob_huggins
2    1985    1104            0         154  wimp_sanderson
3    1985    1106            0         154    james_oliver
4    1985    1108            0         154   davey_whitney
   Season  TeamID ConfAbbrev
0    1985    1102        wac
1    1985    1103        ovc
2    1985    1104        sec
3    1985    1106       swac
4    1985    1108       swac
     TeamNameSpelling  TeamID
0    a&m-corpus chris    1394
1  a&m-corpus christi    1394
2         abilene chr    1101
3   abilene christian    1101
4   abilene-christian    1101
   TeamID     TeamName  FirstD1Season  LastD1Season
0    1101  Abilene Chr           2014          2025
1    1102    Air Force           1985          2025
2    1103        Akron           1985          2025
3    1104      Alabama           1985          2025
4    1105  Alabama A&M           2000          2025

## 2. Explore the Data

In [4]:
# Regular Season Results
regular_season_results = pd.read_csv('/kaggle/input/march-machine-learning-mania-2025/MRegularSeasonCompactResults.csv')
regular_season_results['margin'] = regular_season_results['WScore'] - regular_season_results['LScore']

rs_detailed = pd.read_csv('/kaggle/input/march-machine-learning-mania-2025/MRegularSeasonDetailedResults.csv')
df_rs_games = pd.merge(left=regular_season_results, right=rs_detailed)

df_rs_games

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,margin,WFGM,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2003,10,1104,68,1328,62,N,0,6,27,...,10,16,22,10,22,8,18,9,2,20
1,2003,10,1272,70,1393,63,N,0,7,26,...,24,9,20,20,25,7,12,8,6,16
2,2003,11,1266,73,1437,61,N,0,12,24,...,26,14,23,31,22,9,12,2,5,23
3,2003,11,1296,56,1457,50,N,0,6,18,...,22,8,15,17,20,9,19,4,3,23
4,2003,11,1400,77,1208,71,N,0,6,30,...,16,17,27,21,15,12,10,7,1,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118444,2025,120,1433,71,1182,62,A,0,9,23,...,16,16,24,11,19,9,15,8,5,16
118445,2025,120,1436,79,1107,71,H,0,8,28,...,20,12,15,10,18,11,8,9,0,15
118446,2025,120,1438,60,1199,57,H,0,3,21,...,22,4,7,12,21,12,8,7,9,15
118447,2025,120,1452,71,1428,69,A,0,2,26,...,28,22,32,10,26,11,16,7,3,17
118448,2025,120,1460,98,1237,85,H,0,13,36,...,24,9,14,4,12,16,4,7,1,16

## 3. Data Preprocessing

### 3-1. Margin of Each Game by Team

In [5]:
W_columns = {'WTeamID': 'TeamID', 'WScore': 'Score', 'WLoc':'Loc', 
             'WFGM': 'FGM', 'WFGA': 'FGA', 'WFGM3': 'FGM3', 'WFGA3': 'FGA3', 'WFTM': 'FTM', 'WFTA': 'FTA',
             'WOR': 'OR', 'WDR': 'DR', 'WAst': 'Ast', 'WTO': 'TO', 'WStl': 'Stl', 'WBlk': 'Blk', 'WPF': 'PF'}

L_columns = {'LTeamID': 'TeamID', 'LScore': 'Score', 'WLoc':'Loc',
             'LFGM': 'FGM', 'LFGA': 'FGA', 'LFGM3': 'FGM3', 'LFGA3': 'FGA3', 'LFTM': 'FTM', 'LFTA': 'FTA',
             'LOR': 'OR', 'LDR': 'DR', 'LAst': 'Ast', 'LTO': 'TO', 'LStl': 'Stl', 'LBlk': 'Blk', 'LPF': 'PF'}

W_results = df_rs_games[['Season', 'DayNum', 'WTeamID', 'WScore', 'WLoc', 'margin', 'WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA',
     'WOR', 'WDR', 'WAst', 'WTO', 'WStl', 'WBlk', 'WPF']] \
    .rename(columns=W_columns, inplace=False)

L_results = df_rs_games[['Season', 'DayNum', 'LTeamID', 'LScore', 'WLoc', 'margin', 'LFGM', 'LFGA', 'LFGM3', 'LFGA3', 'LFTM', 'LFTA',
     'LOR', 'LDR', 'LAst', 'LTO', 'LStl', 'LBlk', 'LPF']] \
    .rename(columns=L_columns, inplace=False)

# change the sign of the margin
L_results['margin'] = - L_results['margin']

regular_season_results_flatten = pd.concat([W_results, L_results], axis=0)
regular_season_results_flatten.drop('Loc', axis=1, inplace=True)

regular_season_results_flatten

,Season,DayNum,TeamID,Score,margin,FGM,FGA,FGM3,FGA3,FTM,FTA,OR,DR,Ast,TO,Stl,Blk,PF
0,2003,10,1104,68,6,27,58,3,14,11,18,14,24,13,23,7,1,22
1,2003,10,1272,70,7,26,62,8,20,10,19,15,28,16,13,4,4,18
2,2003,11,1266,73,12,24,58,8,18,17,29,17,26,15,10,5,2,25
3,2003,11,1296,56,6,18,38,3,9,17,31,6,19,11,12,14,2,18
4,2003,11,1400,77,6,30,61,6,14,11,13,17,22,12,14,4,4,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118444,2025,120,1182,62,-9,21,51,4,16,16,24,11,19,9,15,8,5,16
118445,2025,120,1107,71,-8,25,61,9,20,12,15,10,18,11,8,9,0,15
118446,2025,120,1199,57,-3,23,62,7,22,4,7,12,21,12,8,7,9,15
118447,2025,120,1428,69,-2,19,50,9,28,22,32,10,26,11,16,7,3,17
118448,2025,120,1237,85,-13,31,58,14,24,9,14,4,12,16,4,7,1,16

### 3-2. Margin of Each Team by Season

In [6]:
# Total
summary_sum = regular_season_results_flatten.groupby(by=['Season', 'TeamID'], as_index=False) \
                                            .sum()
# Mean
summary_mean = regular_season_results_flatten.groupby(by=['Season', 'TeamID'], as_index=False) \
                                            .mean()


# FG%
summary_mean.columns

summary_mean['FG%'] = summary_mean.FGM / summary_mean.FGA
summary_mean['3P%'] = summary_mean.FGM3 / summary_mean.FGA3
summary_mean['FT%'] = summary_mean.FTM / summary_mean.FTA

summary_mean

,Season,TeamID,DayNum,Score,margin,FGM,FGA,FGM3,FGA3,FTM,...,OR,DR,Ast,TO,Stl,Blk,PF,FG%,3P%,FT%
0,2003,1102,72.464286,57.250000,0.250000,19.142857,39.785714,7.821429,20.821429,11.142857,...,4.178571,16.821429,13.000000,11.428571,5.964286,1.785714,18.750000,0.481149,0.375643,0.651357
1,2003,1103,76.962963,78.777778,0.629630,27.148148,55.851852,5.444444,16.074074,19.037037,...,9.777778,19.925926,15.222222,12.629630,7.259259,2.333333,19.851852,0.486074,0.338710,0.736390
2,2003,1104,72.571429,69.285714,4.285714,24.035714,57.178571,6.357143,19.857143,14.857143,...,13.571429,23.928571,12.107143,13.285714,6.607143,3.785714,18.035714,0.420362,0.320144,0.709898
3,2003,1105,78.307692,71.769231,-4.884615,24.384615,61.615385,7.576923,20.769231,15.423077,...,13.500000,23.115385,14.538462,18.653846,9.307692,2.076923,20.230769,0.395755,0.364815,0.705986
4,2003,1106,74.000000,63.607143,-0.142857,23.428571,55.285714,6.107143,17.642857,10.642857,...,12.285714,23.857143,11.678571,17.035714,8.357143,3.142857,18.178571,0.423773,0.346154,0.646421
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7976,2025,1476,60.068966,67.724138,-3.172414,23.310345,53.827586,8.620690,24.172414,12.482759,...,7.034483,22.413793,14.206897,11.206897,5.931034,2.620690,16.862069,0.433056,0.356633,0.725451
7977,2025,1477,61.612903,64.354839,-10.516129,23.000000,55.290323,8.387097,26.709677,9.967742,...,7.935484,19.000000,14.161290,14.612903,8.387097,3.903226,16.774194,0.415986,0.314010,0.643750
7978,2025,1478,60.827586,72.103448,-9.137931,24.758621,55.482759,7.620690,23.068966,14.965517,...,7.448276,21.758621,13.517241,13.000000,6.689655,2.103448,19.551724,0.446240,0.330344,0.717355
7979,2025,1479,59.000000,65.785714,-5.964286,22.678571,53.821429,7.000000,19.607143,13.428571,...,6.214286,18.214286,13.107143,9.750000,6.607143,1.892857,16.678571,0.421367,0.357013,0.806867
7980,2025,1480,60.100000,67.766667,-11.066667,25.333333,59.300000,5.300000,17.866667,11.800000,...,8.166667,21.166667,12.966667,10.533333,6.866667,2.966667,15.833333,0.427206,0.296642,0.690058

In [7]:
from sklearn.preprocessing import MinMaxScaler

regular_season_results_by_team = regular_season_results_flatten.groupby(by=['Season', 'TeamID'],
                                                                        as_index=False) \
                                                               .margin \
                                                               .mean() \
                                                               .sort_values(by='Season',
                                                                            ascending=False)
regular_season_results_by_team

      Season  TeamID     margin
7980    2025    1480 -11.066667
7730    2025    1222  16.466667
7732    2025    1224  -5.038462
7733    2025    1225  -4.379310
7734    2025    1226   0.846154
...      ...     ...        ...
220     2003    1349   2.407407
221     2003    1350   3.428571
222     2003    1351  -1.607143
223     2003    1352  -3.769231
0       2003    1102   0.250000

[7981 rows x 3 columns]

### 3-3. Scaling

In [8]:
# Min-Max scaling
margin_min = regular_season_results_by_team.groupby('Season').margin.transform('min')
margin_max = regular_season_results_by_team.groupby('Season').margin.transform('max')

regular_season_results_by_team['margin_scale'] = (regular_season_results_by_team['margin'] - margin_min) / (margin_max - margin_min) 

regular_season_results_by_team

      Season  TeamID     margin  margin_scale
7980    2025    1480 -11.066667      0.380162
7730    2025    1222  16.466667      0.890108
7732    2025    1224  -5.038462      0.491811
7733    2025    1225  -4.379310      0.504019
7734    2025    1226   0.846154      0.600800
...      ...     ...        ...           ...
220     2003    1349   2.407407      0.627322
221     2003    1350   3.428571      0.655809
222     2003    1351  -1.607143      0.515330
223     2003    1352  -3.769231      0.455015
0       2003    1102   0.250000      0.567138

[7981 rows x 4 columns]

## 4. Prediction

In [9]:
# Submission formatting
df_prediction = pd.merge(left=regular_season_results_by_team,
                         right=regular_season_results_by_team, 
                         how='left', on=['Season'])
df_prediction = df_prediction[df_prediction['TeamID_x'] < df_prediction['TeamID_y']]

# Labeling
df_prediction['ID'] = df_prediction['Season'].astype(str) \
                    + '_' + df_prediction['TeamID_x'].astype(str) \
                    + '_' + df_prediction['TeamID_y'].astype(str)

In [10]:
# Make a prediction based on the margin
df_prediction['Pred'] = (df_prediction['margin_scale_x']
                      / (df_prediction['margin_scale_x'] + df_prediction['margin_scale_y']))

df_prediction

,Season,TeamID_x,margin_x,margin_scale_x,TeamID_y,margin_y,margin_scale_y,ID,Pred
364,2025,1222,16.466667,0.890108,1480,-11.066667,0.380162,2025_1222_1480,0.700724
366,2025,1222,16.466667,0.890108,1224,-5.038462,0.491811,2025_1222_1224,0.644110
367,2025,1222,16.466667,0.890108,1225,-4.379310,0.504019,2025_1222_1225,0.638470
368,2025,1222,16.466667,0.890108,1226,0.846154,0.600800,2025_1222_1226,0.597024
369,2025,1222,16.466667,0.890108,1227,-0.642857,0.573222,2025_1222_1227,0.608276
...,...,...,...,...,...,...,...,...,...
2771897,2003,1102,0.250000,0.567138,1348,0.413793,0.571707,2003_1102_1348,0.497994
2771898,2003,1102,0.250000,0.567138,1349,2.407407,0.627322,2003_1102_1349,0.474807
2771899,2003,1102,0.250000,0.567138,1350,3.428571,0.655809,2003_1102_1350,0.463747
2771900,2003,1102,0.250000,0.567138,1351,-1.607143,0.515330,2003_1102_1351,0.523930
2771901,2003,1102,0.250000,0.567138,1352,-3.769231,0.455015,2003_1102_1352,0.554846

## 5. Validation

### 5-1. Historical Tournament Data

In [11]:
y_true = pd.read_csv("/kaggle/input/march-machine-learning-mania-2025/MNCAATourneyCompactResults.csv")

y_true['Team1'] = y_true[['WTeamID', 'LTeamID']].min(axis=1)
y_true['Team2'] = y_true[['WTeamID', 'LTeamID']].max(axis=1)

y_true['ID'] = y_true.apply(lambda row: f"{row['Season']}_{row['Team1']}_{row['Team2']}", axis=1)
y_true['Result'] = y_true.apply(lambda row: 1 if row['WTeamID'] == row['Team1'] else 0, axis=1)

y_true.sort_values(by='ID')

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,Team1,Team2,ID,Result
16,1985,137,1104,50,1112,41,N,0,1104,1112,1985_1104_1112,1
52,1985,144,1301,61,1104,55,N,0,1104,1301,1985_1104_1301,0
40,1985,139,1104,63,1433,59,N,0,1104,1433,1985_1104_1433,1
0,1985,136,1116,63,1234,54,N,0,1116,1234,1985_1116_1234,1
39,1985,138,1385,68,1116,65,N,0,1116,1385,1985_1116_1385,0
...,...,...,...,...,...,...,...,...,...,...,...,...
2483,2024,137,1361,69,1412,65,N,0,1361,1412,2024_1361_1412,1
2502,2024,139,1361,85,1463,57,N,0,1361,1463,2024_1361_1463,1
2468,2024,136,1397,83,1389,49,N,0,1389,1397,2024_1389_1397,0
2485,2024,137,1429,88,1395,72,N,0,1395,1429,2024_1395_1429,0
2494,2024,138,1397,62,1400,58,N,0,1397,1400,2024_1397_1400,1

### 5-2. Calculate the Brier Score

In [12]:
df_tourney = pd.merge(left=y_true[['ID', 'Result']], right=df_prediction[['ID', 'Pred']], 
                  on='ID', how='inner')
df_tourney

                  ID  Result      Pred
0     2003_1411_1421       0  0.631976
1     2003_1112_1436       1  0.586226
2     2003_1113_1272       1  0.482958
3     2003_1141_1166       1  0.428026
4     2003_1143_1301       1  0.503288
...              ...     ...       ...
1377  2024_1181_1301       0  0.572122
1378  2024_1345_1397       1  0.511886
1379  2024_1104_1163       0  0.448280
1380  2024_1301_1345       0  0.422054
1381  2024_1163_1345       1  0.525505

[1382 rows x 3 columns]

In [13]:
from sklearn.metrics import brier_score_loss

brier_score = brier_score_loss(df_tourney['Result'], df_tourney['Pred'])
print(f"Brier Score: {brier_score}")

Brier Score: 0.23176483885449845

## 6. Women's Tournament

In [14]:
## 1. Import Python packages
import numpy as np
import pandas as pd

## 2. Explore the Data
# Regular Season Results
regular_season_results_women = pd.read_csv('/kaggle/input/march-machine-learning-mania-2025/WRegularSeasonCompactResults.csv')
regular_season_results_women['margin'] = regular_season_results_women['WScore'] - regular_season_results_women['LScore']

regular_season_results_women


## 3. Data Preprocessing
### 3-1. Margin of Each Game by Team
W_results_women = regular_season_results_women[['Season', 'DayNum', 'WTeamID', 'WScore', 'WLoc', 'margin']] \
    .rename(columns={'WTeamID': 'TeamID', 'WScore': 'Score', 'WLoc': 'Loc'}, inplace=False)

L_results_women = regular_season_results_women[['Season', 'DayNum', 'LTeamID', 'LScore', 'WLoc', 'margin']] \
    .rename(columns={'LTeamID': 'TeamID', 'LScore': 'Score', 'WLoc': 'Loc'}, inplace=False)

# change the sign of the margin
L_results_women['margin'] = - L_results_women['margin']

regular_season_results_women_flatten = pd.concat([W_results_women, L_results_women], axis=0)
regular_season_results_women_flatten
### 3-2. Margin of Each Team by Season
from sklearn.preprocessing import MinMaxScaler

regular_season_results_women_by_team = regular_season_results_women_flatten.groupby(by=['Season', 'TeamID'],
                                                                        as_index=False) \
                                                               .margin \
                                                               .mean() \
                                                               .sort_values(by='Season',
                                                                            ascending=False)
regular_season_results_women_by_team

### 3-3. Scaling
# Min-Max scaling
margin_min = regular_season_results_women_by_team.groupby('Season').margin.transform('min')
margin_max = regular_season_results_women_by_team.groupby('Season').margin.transform('max')

regular_season_results_women_by_team['margin_scale'] = (regular_season_results_women_by_team['margin'] - margin_min) / (margin_max - margin_min) 

regular_season_results_women_by_team

## 4. Prediction
# Submission formatting
df_prediction_women = pd.merge(left=regular_season_results_women_by_team,
                         right=regular_season_results_women_by_team, 
                         how='left', on=['Season'])
df_prediction_women = df_prediction_women[df_prediction_women['TeamID_x'] < df_prediction_women['TeamID_y']]

# Labeling
df_prediction_women['ID'] = df_prediction_women['Season'].astype(str) \
                    + '_' + df_prediction_women['TeamID_x'].astype(str) \
                    + '_' + df_prediction_women['TeamID_y'].astype(str)
# Make a prediction based on the margin
df_prediction_women['Pred'] = (df_prediction_women['margin_scale_x']
                      / (df_prediction_women['margin_scale_x'] + df_prediction_women['margin_scale_y']))

df_prediction_women
## 5. Validation
### 5-1. Historical Tournament Data
y_women_true = pd.read_csv("/kaggle/input/march-machine-learning-mania-2025/WNCAATourneyCompactResults.csv")

y_women_true['Team1'] = y_women_true[['WTeamID', 'LTeamID']].min(axis=1)
y_women_true['Team2'] = y_women_true[['WTeamID', 'LTeamID']].max(axis=1)

y_women_true['ID'] = y_women_true.apply(lambda row: f"{row['Season']}_{row['Team1']}_{row['Team2']}", axis=1)
y_women_true['Result'] = y_women_true.apply(lambda row: 1 if row['WTeamID'] == row['Team1'] else 0, axis=1)

y_women_true.sort_values(by='ID')
### 5-2. Calculate the Brier Score
df_tourney_women = pd.merge(left=y_women_true[['ID', 'Result']], right=df_prediction_women[['ID', 'Pred']], 
                  on='ID', how='inner')
df_tourney_women

from sklearn.metrics import brier_score_loss

brier_score_women = brier_score_loss(df_tourney_women['Result'], df_tourney_women['Pred'])
print(f"Brier Score: {brier_score_women}")

Brier Score: 0.22328069510561457

## 7. Submission

In [15]:
submission_df = df_prediction[df_prediction.Season == 2025][['ID', 'Pred']]
submission_df_women = df_prediction_women[df_prediction_women.Season == 2025][['ID', 'Pred']]

submission_df = pd.concat([submission_df, submission_df_women], axis=0)
submission_df.sort_values(by='ID')

                   ID      Pred
42706  2025_1101_1102  0.578439
42707  2025_1101_1103  0.423583
42708  2025_1101_1104  0.400953
42709  2025_1101_1105  0.568419
42710  2025_1101_1106  0.483512
...               ...       ...
89325  2025_3477_3479  0.439631
89052  2025_3477_3480  0.407684
89687  2025_3478_3479  0.328451
89414  2025_3478_3480  0.300253
98826  2025_3479_3480  0.467324

[131407 rows x 2 columns]

In [16]:
submission_df.to_csv('/kaggle/working/submission.csv', index=False)


## References

- [Simple starter notebook for March Mania 2025](https://www.kaggle.com/code/paultimothymooney/simple-starter-notebook-for-march-mania-2025)
- [What is a Brier Score and How is it Calculated?](https://www.cultivatelabs.com/crowdsourced-forecasting-guide/what-is-a-brier-score-and-how-is-it-calculated)